 .u-section-1 {
  background-image: url("images/canva-inspirational-gradient-desktop-background-2M1ojqNFrt8.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 964px;
}

.u-section-1 .u-image-1 {
  width: 897px;
  height: 672px;
  box-shadow: 2px -2px 8px 0px rgba(128,128,128,1);
  margin: 19px auto 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.4;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  margin: 25px auto 0 300px;
}

.u-section-1 .u-countdown-1 {
  margin: -9px auto 60px 257px;
}

.u-section-1 .u-countdown-item-1 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-2 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-3 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-4 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-5 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-6 {
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-1 .u-image-1 {
    height: 673px;
  }

  .u-section-1 .u-countdown-1 {
    margin-left: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 230px;
  }

  .u-section-1 .u-countdown-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 405px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 173px;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-countdown-1 {
    margin-right: 0;
  }
}